<form role="form" id="form1" name="form" #UserForm="ngForm" novalidate>
  <div class="main-panel" id="griduser">
    <h2 class="main-title">Users</h2>
    <div class="content">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-plain">
              <div class="card-header headerbgprimary">
                <div class="row align-items-center">
                  <div class="col-sm-2"><h4 class="card-title  mt-0"> Users</h4></div>
                  <div class="col-sm-10 ms-auto text-right">
                    <button class="btn btn-info mr-3" (click)="exportToExcel()">
                      Export to Excel
                    </button>
                    <button class="btn btn-circle btn-success" (click)="AddUser(EditModel)">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-condensed table-border customTable" #epltable>
                    <thead>
                      <tr>
                        <th>User Type</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>E-mail</th>
                        <th>User Name</th>
                        <th>Joining Date</th>
                        <th style="text-align:right" *ngIf="isShowAction">Action</th>
                      </tr>
                    </thead>
                    <tr *ngFor="let User of UserList;">
                      <td>{{User.roleName}}</td>
                      <td>{{User.user.firstName}}</td>
                      <td>{{User.user.lastName}}</td>
                      <td>{{User.user.email}}</td>
                      <td>{{User.user.userName}}</td>
                      <td> {{User.user.joiningDate | date: 'MM/dd/yyyy'}}</td>
                      <td style="text-align:right" *ngIf="isShowAction">
                        <button type="button" class="btn btn-info btn-circle btn-xl fa fa-edit" (click)="btnEdit(User,EditModel,UserForm)"></button>&nbsp;
                        <button type="button" *ngIf="User.user.userName != 'admin'" (click)="btnDeleteuser(User.user.id,ltcDeleteConfirm)" class="btn btn-danger btn-circle btn-xl fa fa-trash"></button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <ng-template #EditModel>
    <div class="modal-header">
      <h4 class="modal-title pull-left"> {{IsNew == true ? 'Add New':'Update'}} User</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="CloseModal()">
        <span aria-hidden="true">×</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <h6>Personal Information</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <label style="color:black">First Name</label>
          <div>
            <input type="text" name="FirstName" #FirstName="ngModel" [(ngModel)]="objLtcUser.FirstName"
                   class="form-control" autocomplete="off" required />
            <div *ngIf="FirstName.invalid && IsValid" class="text text-danger">
              <div *ngIf="FirstName.errors?.required && IsValid">
                First Name is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <label style="color:black">Last Name</label>
          <div>
            <input type="text" name="LastName" #LastName="ngModel" [(ngModel)]="objLtcUser.LastName"
                   class="form-control" autocomplete="off" required />
            <div *ngIf="LastName.invalid && IsValid" class="text text-danger">
              <div *ngIf="LastName.errors?.required && IsValid">
                Last Name is required.
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <label style="color:black">E-mail</label>
          <div>
            <input type="text" name="Email" #Email="ngModel" [(ngModel)]="objLtcUser.Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$" class="form-control"
                   autocomplete="off" required />
            <div *ngIf="Email.invalid && IsValid" class="text text-danger ">
              <div *ngIf="Email.errors?.required && IsValid">
                Email is required.
              </div>
            </div>
            <div *ngIf="Email.errors?.pattern" class="text text-danger">
              Email is not Valid.
            </div>
          </div>
        </div>
      </div><br />

      <div class="row">
        <div class="col-sm-4">
          <label style="color:black">Joining Date</label>
          <div>
            <div class="qkdatetobecomp" style="width:100%">
              <input type="text" ngbDatepicker #d2="ngbDatepicker" [minDate]="{year: 1800, month: 1, day: 1}" [maxDate]="{year: 3000, month: 12, day: 31}"
                     class="form-control dateTime-Intial text-left" placeholder="MM/DD/YYYY" rInputMask="99/99/9999" required
                     id="JoiningDate"
                     name="JoiningDate"
                     [(ngModel)]="objLtcUser.JoiningDate"
                     #JoiningDate="ngModel"
                     ngControl="JoiningDate" onkeydown="return false" autocomplete="off" (click)="d2.toggle()" />
              <button class="btn btn-outline-secondary calendar dateButton" (click)="d2.toggle()" type="button">
                <i _ngcontent-aks-c111="" class="material-icons">
                  today
                </i>
              </button>
            </div>
            <div *ngIf="JoiningDate.invalid && IsValid" class="text text-danger">
              <div *ngIf="JoiningDate.errors?.required && IsValid">
                Joining Date is required.
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <label style="color:black">User Name</label>
          <div>
            <input type="text" name="UserName" #UserName="ngModel" [(ngModel)]="objLtcUser.UserName" (input)="CheckUserName($event)" class="form-control" autocomplete="off"
                   required
                   [disabled]="IsNew != true" />
            <div *ngIf="UserName.invalid && IsValid" class="text text-danger">
              <div *ngIf="UserName.errors?.required && IsValid">
                Username is required.
              </div>
            </div>
            <div *ngIf="IsValidUserName" class="text text-danger">
              {{msg}}
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <label style="color:black">Password</label>
          <div>
            <input type="text" name="PasswordHash" #PasswordHash="ngModel" [(ngModel)]="objLtcUser.PasswordHash" class="form-control" autocomplete="off" [required]="IsNew == true" />
            <div *ngIf="IsNew == true && PasswordHash.invalid && IsValid" class="text text-danger">
              <div *ngIf="IsNew == true && PasswordHash.errors?.required && IsValid">
                Password is required.
              </div>
            </div>
          </div>
        </div>

      </div>
      <br />
      <div class="row">
        <div class="col-sm-4">
          <input type="checkbox" name="IsActive" id="IsActive" #IsActive="ngModel" [(ngModel)]="objLtcUser.IsActive" data-toggle="toggle" checked>
          <label style="padding-left:10px" class="form-check-label" for="IsActive"> Is Active</label><br>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-12">
          <h6>Role</h6>
        </div>
      </div>

      <div class="row col-sm-12">
        <div class="col-sm-12">
          <div *ngFor="let Role of RoleList;let i = index">
            <input class="form-check-input" type="radio" name="RoleId" id="Role{{i}}" value={{Role.id}} checked
                   #RoleId="ngModel" [(ngModel)]="objLtcUser.RoleId">
            <label class="form-che  ck-label" for="Role{{i}}">
              {{Role.normalizedName}}
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="btnsubmit(UserForm)">Submit</button>
      <button type="button" id="close" class="btn btn-danger" (click)="CloseModal()">Close</button>
    </div>
  </ng-template>

  <!-- Confirm Modal -->
  <ng-template #ltcDeleteConfirm>

    <div class="modal-body">
      <div class="row">
        <h6>Are You Sure Want To Detete This Recored?</h6>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="ConfirmDelete()">Ok</button>
      <button type="button" class="btn btn-danger" (click)="this.modalRef.hide()">Cancel</button>
    </div>
  </ng-template>

</form>
