<form role="form" id="form1" name="form" #ChangePasswordForm="ngForm" novalidate>
  <div class="main-panel" id="griduser">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-plain">
              <div class="card-header headerbgprimary">
                <h4 class="card-title mt-0"> Change Password </h4>
                <p class="card-category"> </p>
              </div>
            </div>
          </div>
          <div class="">
            <div class="col-sm-6 card">
              <h4 class="card-header"></h4>
              <div class="card-body">
                <div>
                  <label style="color:black">Current Password</label>
                  <input type="password" #CurrentPassword="ngModel" [(ngModel)]="user.CurrentPassword" name="CurrentPassword" class="form-control" placeholder="Current Password" autocomplete="off" required>
                  <div *ngIf="CurrentPassword.invalid && IsValid" class="text text-danger">
                    <div *ngIf="CurrentPassword.errors?.required && IsValid">
                      Current Password is required.
                    </div>
                  </div>
                </div><br />

                <div>
                  <label style="color:black">New password</label>
                  <input type="password" name="Newpassword" class="form-control" #NewPassword="ngModel" [(ngModel)]="user.NewPassword" placeholder="New Password" autocomplete="off" required>
                  <div *ngIf="NewPassword.invalid && IsValid" class="text text-danger">
                    <div *ngIf="NewPassword.errors?.required && IsValid">
                      New password is required.
                    </div>
                  </div>
                </div>
                <br />

                <div>
                  <label style="color:black">Confirm password</label>
                  <input type="password" name="Confirmpassword" #ConfirmPassword="ngModel" [(ngModel)]="user.ConfirmPassword" class="form-control" placeholder="Confirm Password" autocomplete="off" required>
                  <div *ngIf="ConfirmPassword.invalid && IsValid" class="text text-danger">
                    <div *ngIf="ConfirmPassword.errors?.required && IsValid">
                      Confirm Password is required.
                    </div>
                  </div>
                </div><br />

                <div class="text-dabger">
                  {{msg}}
                </div>

                <div>
                  <button class="btn btn-success" (click)="ChangePassword(ChangePasswordForm)">Change Password</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>
