.infomsgtxt h3 {
  font-size: 17px;
  color: #1f63b9;
}

.infomsgtxt button {
  font-size: 17px;
  color: #fff;
  background-color: #1f63b9;
  border-radius: 3px;
  border: 0;
  padding: 3px 10px;
  box-shadow: none;
  outline: none;
}
