<div class="container-fluid mainBlockKpi">
  <div href="http://www.creative-tim.com" class="text-white loginheader">
    <img src="../../../assets/img/ISA_logo_white.png" style="max-width: 80px;">
    <h6 class="mb-0 mt-2">CTP APPLICATION PORTAL</h6>
  </div>
</div>
<div class="row justify-content-center mainBlockKpi align-items-center cusheight mx-0">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <form role="form" id="form1" name="form" #form="ngForm" novalidate>
          <div class="form-group">
            <label for="Password">New Password</label>
            <input type="password" class="form-control"
                   name="Password" #Password="ngModel" [(ngModel)]="User.Password" required />
            <div *ngIf="Password.invalid && submitted" class="text text-danger">
              <div *ngIf="Password.errors?.required && submitted">
                password Is required.
              </div>
            </div>
          </div>
          <button class="btn btn-primary" (click)="onSubmit(form)">
            Reset Password
          </button>
          <div class="alert" *ngIf="SucMsg != ''"><p class="text-success">Password has been updated.</p><a href="/login">Click here to Login</a></div>
        </form>
      </div>
    </div>
  </div>
</div>

